.services-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.schedule-appointment-link {
    margin-top: 20px; 
}

.services-heading {
    color: #333; 
    margin-bottom: 30px;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}

.service-card {
    width: 300px; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: left; 
    transition: transform 0.3s ease; 
}

.service-card:hover {
    transform: translateY(-5px); 
}

.service-card h3 {
    color: #007bff; 
    margin-bottom: 10px;
}

.service-card p {
    color: #666;
}

.service-buttons {
    margin-top: 30px; 
    display: flex;
    justify-content: center;
}

.service-button {
    padding: 10px 20px;
    margin: 0 10px; 
    font-size: 16px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.service-button:hover {
    background-color: #0056b3; 
}

.more-details-link {
    position: absolute;
    top: 20px;
    right: 20px;
}

.more-details-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}